<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <connectionStrings>
    <add name="ConnectionString1" connectionString="Data Source= C:\Users\arria\Documents\GitHub\Adamson-Computer-Science-Borrowing-System\CSBorrowingSystem\bin\Debug\BorrowingDB.sdf; "/> 
  </connectionStrings>
</configuration>
